<header>
	<div class="container">
		<h1>Projects by User</h1>
	</div>
</header>

<div class="container">
	<br>
	<select class="form-control" id="UserList" name="UserList"></select> 
</div>

<div class="container">
	<br>

	<div class="table-responsive">
		<table class="table table-bordered table-condensed" id="ProjectsByUserTable">
			<tr class="text-uppercase tableFont tableTitle">
				<th>Project Id</th>
				<th>Assigned Date</th>
				<th>Start Date</th>
				<th class="active">Time to Start</th>
				<th>End Date</th>
				<th>Credits</th>
				<th class="active">Status</th>
			</tr>
			<tr class="text-center">
				<td colspan="7">No Result</td>
			</tr>
		</table>
	</div>

</div>

<footer>
	<div class="container">
		<h3>Pablo Solera</h3>	
	</div>
</footer>